<!DOCTYPE html>
<html lang="pt-br">
<%- include ("partials/head.ejs"); %>
<link rel="stylesheet" type="text/css" href="/css/items-index.css">
<body>
	<%- include ("partials/header.ejs"); %>

	<div class="limiter">
		<div class="container-table100">			
			<div class="wrap-table100">	
				
				<div class="form-row painel">
					<div class="form-group col-sm-4">
						<label for="Search">Pesquise pelo nome</label>	
						
						<form class="input-group" method="POST" action="items">
							<input value="<%=pesquisa%>" type="search" name="search" class="form-control rounded" placeholder="Digite uma parte do nome aqui" aria-label="Search"/>
							<div>
								<button class="btn btn-primary btn-search" type="submit"><i class="fas fa-search"></i></button>
							</div>
						</form>												
					</div>
					<div class="form-group col-sm-2">
						<label for="foto">Tipo</label>						
							<form action="itemstype" method="POST">
								<select id="type" name="type" onchange="this.form.submit()" class="form-control">
									<option selected value=""><%=pesquisaTipo%></option>
									<option value="">Tudo</option>
									<option value="kit">Kits</option>
									<option value="img">Imagens</option>
									<option value="ter">Terços</option>
									<option value="med">Medalhões</option>
									<option value="out">Outros</option>
								</select>
							</form>
					</div>
					<div class="form-group  col-sm-2">
						<label for="foto">Parcelas</label>
						<input id="parcela" onchange="umAdoze()" type="number" max="12" min="1" placeholder="Parcelas" class="form-control" style="border: none;" />
					</div>		
				</div>
				
				<div class="table100">
					<table>
						<thead>							
							<tr class="table100-head">
								<th class="column1">Nome</th>
								<th class="column2">Parcelado Boleto</th>
								<th class="column4">Total no Boleto</th>
								<th class="column3">Parcelado Cartão</th>
								<th class="column4">Total no Cartão</th>
								<th class="column6">Detalhes</th>
							</tr>
						</thead>
						<tbody>							
							<% items.forEach(item =>{ %>
								<tr>
									<td class="column1"><%= item.name %> Promo: <%= item.promo%></td>
									<td class="column2"><span class="qtdParcB"></span>x <span class="valParcB"></span></td>
									<td class="column3">R$ <span class="valBlt"><%= item.valBlt %></span></td>
									<td class="column4"><span class="qtdParcC"></span>x <span class="valParcC"></span><br>
										<span class="qtdParcCdesc" style="display: none;"></span></td>
									
									</td>
									<td class="column5">R$ <span class="valCard"><%= item.valCard %></span><br>
										<span class="valPix" style="display: none;"><%= item.valPix %></span></td>
									<td class="column6">
										<button name="<%= item.id %>" type="button" class="btn btn-outline-success " data-toggle="modal" data-target="#ModalInfoItem<%= item.id %>">Ver mais</button>
									</td>
									<!-- Modal -->
									<div class="modal fade" id="ModalInfoItem<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
										<div  class="modal-dialog modal-lg modal-dialog-centered" role="document">
										<div class="modal-content" style="width: 100%;">
											<div class="modal-header">
											<h4 class="modal-title" id="TituloModal"><%= item.name %></h4>
											<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
												<span aria-hidden="true">&times;</span>
											</button>
											</div>
											<div class="modal-body row">
												<div class="modal-img col-lg-7">
													<a href="<%= item.img %>" target="_blank"><img class="img-responsive" alt="Clique para ver melhor" src="<%= item.img %>"></a>
												</div>												
												<div class="col-lg-5">													
													<h4>Principais Argumentos</h4>
													<br>
													<%- item.argument %>
													<br>																								
												</div>
												<div class="col-12">
												<div class="descItem">
													<hr>
													<h4>Descrição</h4>
													<br>
													<p><%- item.description %></p>
													<br>
												</div>					
													
											</div>											
											</div>
											<div class="modal-footer">
											<button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
											</div>
										</div>
										</div>
									</div>
								</tr>			
					
							<% }) %>																							
						</tbody>
						
					</table>
					<p class="item404"><%=itemNF%></p>
				</div>
			</div>
		</div>
	</div>
	

	<%- include ("partials/footer1.ejs"); %>

	<script>
		preencheParcela()

	</script>


</body>
</html>