<!DOCTYPE html>
<html lang="pt-br">
<%- include ("partials/head.ejs"); %>
<link rel="stylesheet" type="text/css" href="/css/items-index.css">

<style>
	.limiter{
		background-color: rgb(255, 165, 81);
	}
	.titulo{
		text-align: center;
	}
	.container{
		padding: 0;
		background-color: #fff;
		box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
	}
	.atalhos{
		text-align: center;
	}
	.btpromo{
		white-space: nowrap; 
		width: 13em; 
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 3px;
	}
	.header{
		text-align: center;
		color: rgb(65, 65, 65);
		padding-bottom: 10px;
		background-color: rgb(221, 221, 221);
		padding: 0;
		margin: 0;
		box-shadow: 0px 8px 10px  rgba(0, 0, 0, 0.4);
	}
	.listProd{
		align-content: center;
		text-align: center;
	}
	.prodName {
		max-height: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight:600;
		color: black;
		padding: 1px 5px 0px 5px;
	}
	.prodImg{
		width: 90px;
		height: 90px;
		margin-top: 3px;
	}
	.prod{
		box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		cursor: pointer;
		max-width: 250px;
	}
	.prod:hover{
		box-shadow: 0px 0px 5px 2px rgb(236, 136, 42);
	}
	
</style>
<body>
	<%- include ("partials/header.ejs"); %>

	<div class="limiter">
		<div class="container-table100">	<!-- container-table100-->
			<div class="wrap-table100">	
				<div class="titulo">
					<h3>Promoção Limpa Estoque</h3>
					<br>
				</div>
				<div class="atalhos">
					<% promos.forEach(p =>{ %>
						<a href="#<%=p.id%>" style="color: rgb(255, 255, 255);" class="btpromo btn btn-primary"><%=p.nome%></a>
					<%})%>
				</div>
				<div class="container">
					<% promos.forEach(p =>{ %>
					<div class="products" >
						<div id="<%=p.id%>" class="header">
							<hr>
							<h3><%=p.nome%></h3>
							<p><%=p.descricao%></p>
							<hr>
						</div>
						<div class="listProd ml-2 row" style="padding: 8px 8px 8px 5px;">
							
							<% items.forEach(item =>{ %>
								<%if(item.promo == p.id){%>
									<div class="prod ml-4 mb-3 col-md-2" data-toggle="modal" data-target="#ModalInfoItem<%= item.id %>">
										<img class="prodImg" src="<%= item.img %>">
										 
										<div class="prodName" >
											<p><%= item.name %></p>
										</div>
									</div>
									<!-- Modal -->
									<div class="modal fade" id="ModalInfoItem<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
										<div  class="modal-dialog modal-lg modal-dialog-centered" role="document">
										<div class="modal-content" style="width: 100%;">
											<div class="modal-header">
											<h4 class="modal-title" id="TituloModal"><%= item.name %></h4>
											<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
												<span aria-hidden="true">&times;</span>
											</button>
											</div>
											<div class="modal-body row">
												<div class="modal-img col-lg-7">
													<a href="<%= item.img %>" target="_blank"><img class="img-responsive" alt="Clique para ver melhor" src="<%= item.img %>"></a>
												</div>
																							
												<div class="col-lg-5">
													<h4>Preços</h4>
													<br>
													<ul style="list-style-type: circle;">
														<li>
															<span>Cartão R$ <%- item.valCard %></span><span> - Até 12x R$ <%-item.valCard /12 %></span>
														</li>
														<li>
															<span>Boleto R$ <%- item.valBlt %></span><span> - Até 6x R$ <%-item.valBlt /6 %></span>
														</li>
													</ul>
													
													<br>
													
													<br><br>									
													<h4>Principais Argumentos</h4>
													<br>
													<%- item.argument %>
													<br>

												</div>
												<div class="col-12">
												<div class="descItem">
													<hr>
													<h4>Descrição</h4>
													<br>
													<p><%- item.description %></p>
													<br>
												</div>					
													
											</div>											
											</div>
											<div class="modal-footer">
											<button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
											</div>
										</div>
										</div>
									</div>
								<%}%>
							
							<%})%> 
						 
						</div>
					</div>
					<%})%>
				
					
				</div>

			</div>
		</div>
	</div>
	

	<%- include ("partials/footer1.ejs"); %>


</body>
</html>