<!DOCTYPE html>
<html lang="pt-br">
<%- include ("partials/head.ejs"); %>
<link rel="stylesheet" type="text/css" href="/css/items-index.css">

<style>
	.card{
		border-radius: 5px;
		-webkit-border-radius: 5px; 
		-moz-border-radius: 5px;
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	}
	.card-body{
		background-color: rgb(250, 250, 250);
		color: black;
		border-radius: 5px;
		-webkit-border-radius: 5px; 
		-moz-border-radius: 5px;
	}
	.center{
		text-align: center;
	}	
	.card p{
		margin-bottom: 0px;
	}
	
	
</style>
<body>
	<%- include ("partials/header.ejs"); %>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">	
				
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<h1 class="display-8">Dicas sobre qualidade de atendimento</h1>
						<hr>
						<p class="lead">Aqui você encontrará dica de qualidade de ligação escritas pelo departamento de QTD (Qualidade, treinamento e desenvolvimento).<br>
							Essas dicas são preciosas e podem fazer a diferença na hora de fechar uma venda e nas notas aplicadas na ligação.<br>
							Abaixo você poderá conferir um glossário de cada ofenssor fundamental para manter uma boa ligação. &#128521
						</p>
						<p class="lead">
							<a class="btn btn-primary btn-lg" href="#glossario" role="button">Ler Glossário</a>
					 	</p>
					</div>
				  </div>
				  <div class="center">
					<h3>Dicas</h3>
				  </div>				  

				<div class="card-columns" style="background-color: rgb(255, 255, 255); padding: 10px;">							
					<% tips.forEach(t =>{ %>
					<div class="card border-secondary mb-3">
						<div class="card-header" style="background-color: rgb(240, 240, 240); border-bottom: 1px solid rgb(155, 155, 155);">
							<h4><%-t.title%></h4>							
						</div>
					
						<div class="card-body text-dark completo" >							
							<p ><%-t.description%></p>
						</div>						
					</div>
					<%})%>				
					
				</div>
				
				
				<div id="glossario" class="jumbotron jumbotron-fluid mt-4" style=" padding: 10px;">
					<div class="center">
						<h2 class="mb-3">Glossário da Monitoria</h2>
					</div>
					
					<hr><br>
					<p class="mb-4"><b>Abordagem/apresentação:</b>	 Apresentar-se adequadamente( Nome e Empresa)</p>
					<p class="mb-4"><b>Condução do atendimento:</b>	 Posicionamento ao cliente quando se ausentar/ entusiasmo/ clareza/ sorriso na voz/empatia/ segurança nas informações/ vícios de linguagem/objetividade e esculta ativa</p>
					<p class="mb-4"><b>Conhecimento técnico do produto:</b>	 Apresentar o produto de forma atrativa demonstrando conhecimento ( Características e beneficio)</p>
					<p class="mb-4"><b>Sondagem/ necessidade:</b>	Identificar as necessidades do cliente (Realizar perguntas abertas de forma assertiva)</p>
					<p class="mb-4"><b>Argumentação/ quebra de objeções:</b>	  Argumentação assertiva  e criação de cenários</p>
					<p class="mb-4"><b>Negociação:</b>	Ofertar primeiramente cartão de credito/ esgotar todas as possibilidades de negociação antes de desistir da venda</p>
					<p class="mb-4"><b>Fechamento/ Poder de decisão:</b>	 Conduzir o cliente ao fechamento no momento oportuno/ poder de decisão</p>
					<p class="mb-4"><b>Confirmação de dados:</b>	Buscar confirmar todos os dados do cliente para que não haja erros( habito de parafrasear)/ solicitar 2º telefone/ finalizar corretamente o contato</p>
					<p class="mb-4"><b>Não conformidade Grave:</b>	 Ocultar informações do produto/passar informaçoes improcedentes/ realizar a venda sem a autorizam do cliente/ omissão do atendimento/ser ríspido/ irônico ou utilizar palavras ofensivas/ passar informações confidenciais a terceiros.</p>
				   
				</div>

			</div>
			
			
		</div>

		
	</div>
	

	<%- include ("partials/footer1.ejs"); %>

	
</body>
</html>