
<%- include ("../../partials/head.ejs"); %>

<body>
	<%- include ("../../partials/header-admin.ejs"); %>
   
	<div class="limiter">
		<div class="container-table100">			
			<div   class="wrap-table100">        
        <div class="card">
          <div class="card-header">
            <h2>Nova Monitoria</h2>
          </div>
          <form class="feedback mt-3" method="POST" action="/admin/monitoring/save">
            <div class="row" style="margin: 10px 15px;">
              <div class="col-md-2">
                <label for="vendedor" class="form-label"><h6>Selecione um vendedor</h6></label>
                <select class="form-control " id="vendedor" name="vendedor" required>
                  <option>  </option>
                  <% sellers.forEach(seller =>{ %>
                    <option value="<%= seller.id %>"> <%= seller.name %></option>
                  <%})%>
                </select>
              </div> 
              <div class="col-md-2">
                <label for="telefone" class="form-label"><h6>Telefone</h6></label>
                <input name="telefone" class="form-control border border-1" id="telefone" type="text" required placeholder="Ex. 11998764321">
              </div>
              <div class="col-md-2">
                <label for="dtAtendimento" class="form-label"><h6>Data do Atendimento</h6></label>
                <input name="dtAtendimento" class="form-control border border-1" id="dtAtendmento" type="date" required >
              </div>
              <div class="col-md-1">
                <label for="ramal" class="form-label"><h6>Ramal</h6></label>
                <input name="ramal" class="form-control border border-1" id="ramal" type="number" min="0000" max="9999"  required >
              </div>
              <div class="col-md-1">
                <label for="venda" class="form-label"><h6>Venda</h6></label>
                <select name="venda" class="form-control" aria-label="venda">                
                  <option selected value="n">NÃO</option>
                  <option value="s">SIM</option>                
                </select>
              </div>

              <div class="col-md-4 nota">
                <h3>Nota Final: <span  id="notaFinal">0</span></h3>
              </div>

              <input type="hidden" name="nota" id="nota" value="0">

            </div>         
            
            <hr>
            <h3 class="display-6">Responda as perguntas sobre o atendimento</h3>              
            <hr>
            <div class="container positivos">
              <label for="positivos"><h6>Pontos Positivos</h6></label>
              <textarea style="display: inline-block;" class="form-control mb-4" rows="5" placeholder="Informe aqui os pontos positivos da ligação." name="positivos"></textarea>              
            </div>

            <h6 class="sub-titulo">Abertura e Encerramento</h6><br>            
            <h5>Teve boa Abordagem/ apresentação?</h5><!--Não-->
            <input  type="radio" class="btn-check" name="ofensor1" id="1-s" value="sim" onclick="voltaNota(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="1-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor1" id="1-n" value="nao" onclick="resNao(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="1-n">NÃO</label>
            <br>
            <div class="mb-3 motivo" >
              <textarea class="form-control" name="ofensor1Txt" id="ofensor1" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <br>
            <h5>Teve bom Fechamento /Poder de decisão/ Confirmação de dados?</h5><!--Não-->
            <input type="radio" class="btn-check" name="ofensor2" id="2-s" value="sim" onclick="voltaNota(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="2-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor2" id="2-n" value="nao" onclick="resNao(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="2-n">NÃO</label>
            <br>
            <div class="mb-3 motivo" >
              <textarea class="form-control" name="ofensor2Txt" id="ofensor2" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <hr>
            <h6 class="sub-titulo"> Condução do atendimento</h6><br>
            <h5>Deu posicionamento ao se ausentar?</h5><!--Não-->
            <input type="radio" class="btn-check" name="ofensor3" id="3-s" value="sim" onclick="voltaNota(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="3-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor3" id="3-n" value="nao" onclick="resNao(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="3-n">NÃO</label>
            <br>
            <div class="mb-3 motivo" >
              <textarea class="form-control" id="ofensor3" name="ofensor3Txt" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <br>
            <h5>Teve Entusiasmo/ Sorriso na voz/ Empatia?</h5><!--Não-->
            <input type="radio" class="btn-check" name="ofensor4" id="4-s" value="sim" onclick="voltaNota(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="4-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor4" id="4-n" value="nao" onclick="resNao(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="4-n">NÃO</label>
            <br>
            <div class="mb-3 motivo" >
              <textarea class="form-control" id="ofensor4" name="ofensor4Txt" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <br>
            <h5>Seguro(a) nas informações passadas?</h5><!--Não-->
            <input type="radio" class="btn-check" name="ofensor5" id="5-s" value="sim" onclick="voltaNota(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="5-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor5" id="5-n" value="nao" onclick="resNao(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="5-n">NÃO</label>
            <br>
            <div class="mb-3 motivo" >
              <textarea class="form-control" id="ofensor5" name="ofensor5Txt" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <br>
            <h5>Vícios de linguagem/girias?</h5><!--Sim-->
            <input type="radio" class="btn-check" name="ofensor6" id="6-s" value="sim" onclick="resSim(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="6-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor6" id="6-n" value="nao" onclick="voltaNota(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="6-n">NÃO</label>
            <br>
            <div class="mb-3 motivo" >
              <textarea class="form-control" id="ofensor6" name="ofensor6Txt" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <br>
            <h5>Objetividade/ esculta ativa?</h5><!--Não-->
            <input type="radio" class="btn-check" name="ofensor7" id="7-s" value="sim" onclick="voltaNota(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="7-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor7" id="7-n" value="nao" onclick="resNao(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="7-n">NÃO</label>
            <br>
            <div class="mb-3 motivo" >
              <textarea class="form-control" id="ofensor7" name="ofensor7Txt" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <hr>
            <h6 class="sub-titulo">Tenicas de venda</h6><br>
            <h5>Apresentação do produto/ conhecimento?</h5><!--Não-->
            <input type="radio" class="btn-check" name="ofensor8" id="8-s" value="sim" onclick="voltaNota(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="8-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor8" id="8-n" value="nao" onclick="resNao(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="8-n">NÃO</label>
            <br>
            <div class="mb-3 motivo" >
              <textarea class="form-control" id="ofensor8" name="ofensor8Txt" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <br>
            <h5>Sondagem?</h5><!--Não-->
            <input type="radio" class="btn-check" name="ofensor9" id="9-s" value="sim" onclick="voltaNota(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="9-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor9" id="9-n" value="nao" onclick="resNao(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="9-n">NÃO</label>
            <br>
            <div class="mb-3 motivo" >
              <textarea class="form-control " id="ofensor9" name="ofensor9Txt" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <br>
            <h5>Argumentação/ quebra de objeção?</h5><!--Não-->
            <input type="radio" class="btn-check" name="ofensor10" id="10-s" value="sim" onclick="voltaNota(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="10-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor10" id="10-n" value="nao" onclick="resNao(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="10-n">NÃO</label>
            <br>
            <div class="mb-3 motivo" >
              <textarea class="form-control " id="ofensor10" name="ofensor10Txt" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <br>
            <h5>Negociação?</h5><!--Não-->
            <input type="radio" class="btn-check" name="ofensor11" id="11-s" value="sim" onclick="voltaNota(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="11-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor11" id="11-n" value="nao" onclick="resNao(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="11-n">NÃO</label>
            <br>
            <div class="mb-3 motivo">
              <textarea class="form-control " id="ofensor11" name="ofensor11Txt" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <hr>
            <h6 class="sub-titulo" style="color: red;">Não conformidade Grave</h6><br>
            <h5>Ética?</h5><!--Não-->
            <input type="radio" class="btn-check" name="ofensor12" id="12-s" value="sim" onclick="voltaNota(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="12-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor12" id="12-n" value="nao" onclick="resNao(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="12-n">NÃO</label>
            <br>
            <div class="mb-3 motivo" >
              <textarea class="form-control" id="ofensor12" name="ofensor12Txt" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <br>
            <h5>Falta de Cordialidade?</h5><!--Sim-->
            <input type="radio" class="btn-check" name="ofensor13" id="13-s" value="sim" onclick="resSim(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="13-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor13" id="13-n" value="nao" onclick="voltaNota(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="13-n">NÃO</label>
            <br>
            <div class="mb-3 motivo" >
              <textarea class="form-control " id="ofensor13" name="ofensor13Txt" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <br>
            <h5>Risco em venda?</h5><!--Sim-->
            <input type="radio" class="btn-check" name="ofensor14" id="14-s" value="sim" onclick="resSim(this.id)" autocomplete="off" >
            <label class="btn btn-outline-success" for="14-s">SIM</label>
            <input required type="radio" class="btn-check" name="ofensor14" id="14-n" value="nao" onclick="voltaNota(this.id)" autocomplete="off">
            <label class="btn btn-outline-danger" for="14-n">NÃO</label>
            <br>
            <div class="mb-3 motivo">
              <textarea class="form-control" id="ofensor14" name="ofensor14Txt" rows="4" placeholder="Descreva aqui oque fez o consultor perder essa nota..."></textarea>
            </div>
            <hr><br>            
            
							<div style="width: 100%; margin-top: 25px;" class="form-row">
								<div class="form-group col-md-8">									
								</div>
                <div class="form-group col-md-2">												
									<button type="submit" class="form-control btn btn-success ml-1">Gerar <i class="fas fa-check"></i></button>
								</div>
								<div class="form-group col-md-2">
									<button onclick="window.history.back()" class="form-control btn btn-danger ml-1" >Cancelar <i class="fas fa-times"></i></button>
								</div>								
							</div>
              <br>
    
          </form>
        </div>        
			</div>
		</div>

	</div>

  <script src="/js/newMonit.js"></script>
 
<%- include ("../../partials/footer1.ejs"); %>
</body>
</html>
